body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(5, 110, 110);
    color: white;
    text-align: center;
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;
}

#MainHeader {
    color:rgb(255, 255, 255);
}

.embodytradingcoding {
    
}

.trading {
    color: rgb(190, 252, 149);
}

.coding {
    color: rgb(247, 198, 137);
}